$all-panel-bg: #1e1e2e;
$bg-color: rgba(10, 5, 30, 0.85);
$primary-neon: #00ffff;
/* Cyan    */
$secondary-neon: #ff00ff;
/* Magenta */
$text-color: #e0e0e0;
$font-family: "JetBrains Mono Nerd Font";
$slider-highlight-background: #89b4fa;
$slider-trough-background: #080809;
$hover-color: #f0f0f0;

* {
  all: unset;
  font-family: "CaskaydiaCove Nerd Font";
}

/* ---- All Widget ---- */
.all-panel-container {
  background-color: $bg-color;
  border-radius: 16px;
  padding: 10px;
  box-shadow: inset 0 0 5px rgba($primary-neon, 0.4);
}

/* ---- Control Panel ---- */
.control-panel-container {
  background-color: transparent;
  color: #cdd6f4;
  border: 1px;
  border-radius: 16px;
  padding: 15px;
}

.slider-panel-box {
  background-color: transparent;
  color: #cdd6f4;
  border: none;
  border-radius: 0;
  padding: 0px;
}

.slider-icon {
  font-size: 24px;
  padding-bottom: 15px;
}

.slider-panel {
  all: unset;
  min-width: 40px;
  min-height: 150px;
}

.slider-panel trough {
  all: unset;
  background-color: $slider-trough-background;
  min-width: 40px;
  min-height: 150px;
  border-radius: 50px;
  box-shadow: inset 0 0 5px rgba($primary-neon, 0.4);
}

.slider-panel highlight {
  all: unset;
  background-image: linear-gradient(to right, $primary-neon, $secondary-neon);
  min-width: 38px;
  border-radius: 35px;
  padding-bottom: 50px;
}

.slider-panel trough slider {
  all: unset;
}

/* ---- Panel Buttons ---- */
.panel-buttons-box {
  all: unset;
  background-color: transparent;
}

.panel-button {

  min-height: 30px;
  min-width: 100px;

  font-size: 16px;

  background-color: $slider-trough-background;

  color: $text-color;
  text-shadow: none;

  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 16px;
  padding-right: 16px;

  box-shadow: inset 0 0 5px rgba($primary-neon, 0.4);
  border-radius: 90px;
  transition: all 0.15s ease-out;
}

.panel-buttons-box button:hover {
  background-color: $primary-neon;
}

.network-button.wifi,
.network-button.ethernet,
.bluetooth-button.on,
.bluetooth-button.connected,
.nightlight-button.on,
.dnd-button.on {
  background-color: $secondary-neon;
  color: $text-color;
  text-shadow: 0 0 5px rgba($primary-neon, 0.7);
}

/* ---- Music Player ---- */

.music-widget {
  background-color: transparent;
  border-radius: 10px;
  padding: 10px;
  color: $text-color;
  font-family: $font-family;
  border: 0.5px solid $primary-neon;
  box-shadow: 0 0 12px rgba($primary-neon, 0.3);
}

.cover-art {
  background-size: cover;
  background-position: center;
  min-width: 155px;
  min-height: 125px;
  border-radius: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
  padding-right: 20px;
  padding-bottom: 50px;
  border: 1px solid rgba($primary-neon, 0.3);

}

.music-info {
  padding: 5px 0;
  margin-right: 10px;
}

.song-title {
  font-size: 15px;
  font-weight: bold;
  color: $secondary-neon;
  text-shadow: 0 0 1px rgba($secondary-neon, 0.3);
  margin-bottom: 5px;
}

.artist {
  font-size: 14px;
  opacity: 0.70;
  color: $primary-neon;
  margin-bottom: 5px;
}

.controls {
  margin: 8px 0;
  font-size: 22px;
}

.controls button {
  background: none;
  border: none;
  color: $secondary-neon;
  padding: 0 10px;
  transition: all 0.2s ease-in-out;
  text-shadow: 0 2 6px rgba($secondary-neon, 0.3);
}

.controls button:hover {
  color: $primary-neon;
  text-shadow: 0 0 10px rgba($secondary-neon, 1);
}

.position {
  font-size: 12px;
  opacity: 0.75;
  color: $text-color;
  margin-bottom: 10px;
}

.progress-bar {
  margin-left: 5;
  padding: 0;
  border: none;
}

.progress-bar trough {
  background-color: rgba($primary-neon, 0.1);
  border-radius: 10px;
  min-height: 12px;
  min-width: 180px;
  border: 1px solid rgba($primary-neon, 0.3);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.4);
}

.progress-bar highlight {
  background-image: linear-gradient(to right, $primary-neon, $secondary-neon);
  border-radius: 10px;
  box-shadow: 0 0 3px $primary-neon;
}

.progress-bar slider {
  min-width: 15px;
  min-height: 15px;
  background-color: #000000;

  box-shadow: 0 0 5px $secondary-neon;
  border: 2px solid $primary-neon;

  margin: -5px 0;

  border-radius: 50%;

  outline: 1px solid rgba($secondary-neon, 0.6);
  outline-offset: -2px;
}

.cava-visualizer {
  margin-left: 5;
  font-family: "monospace";
  font-size: 10px;
  letter-spacing: 1px;
  color: $primary-neon;
  text-shadow: 0 0 6px rgba($primary-neon, 0.5);
  margin-top: 10px;
  text-shadow: 0 0 3px $primary-neon;
}
