[Unit]
Description=Run the updates checker every 30 min

[Timer]
OnBootSec=1min

OnUnitActiveSec=30min
Persistent=true

[Install]
WantedBy=timers.target
