/*---- Pywal Colors ----*/
@define-color background #0f1823;
@define-color foreground #c3c5c8;
@define-color color1 #584154;
@define-color color2 #AB5268;
@define-color color3 #B1896E;
@define-color color4 #1C6F8C;
@define-color color5 #666E89;
@define-color color7 #c3c5c8;
@define-color color8 #5e6774;
@define-color color9 #584154;
@define-color color10 #AB5268;
@define-color color11 #B1896E;
@define-color color12 #1C6F8C;
@define-color color13 #666E89;
@define-color color14 #C06F91;
@define-color color15 #c3c5c8;

/*---- General Colors ----*/
@define-color blue @color4;
@define-color green @color2;
@define-color yellow @color3;
@define-color light-yellow @color3;
@define-color soft-yellow @color3;
@define-color cian @color5;
@define-color red @color1;
@define-color light-red @color1;
@define-color pink @color5;
@define-color orange @color3;
@define-color purple @color5;
@define-color light-purple @color4;

/*---- Icons ----*/
@define-color blue-icon @blue;
@define-color green-icon @green;
@define-color yellow-icon @yellow;
@define-color light-yellow-icon @light-yellow;
@define-color soft-yellow-icon @soft-yellow;
@define-color cian-icon @cian;
@define-color red-icon @red;
@define-color light-red-icon @light-red;
@define-color pink-icon @pink;
@define-color orange-icon @orange;
@define-color purple-icon @purple;
@define-color light-purple-icon @light-purple;

/*---- Modules Colors ----*/
@define-color default_bg rgba(15, 24, 35, 0.85);

/*---- Workspaces Colors ----*/
@define-color work-button-hover rgba(195, 197, 200, 0.7);
@define-color work-button-visible rgba(15, 24, 35, 0.85);
@define-color work-button-urgente @red;
@define-color work-button-active @blue;

* {
  font-family: "JetBrains Mono Nerd Font"; /*Font Awesome, Roboto, Arial, sans-serif;*/
  font-size: 13px;
}

window {
  font-weight: bold;
}

window#waybar {
  background: rgba(0, 0, 0, 0);
}

/*-----module groups----*/
.modules-right {
  margin: 10px 10px 0 0;
  background-color: transparent;
}

#network,
#bluetooth,
#pulseaudio {
  background-color: @default_bg;
  border-radius: 0;
}

#network {
  border-radius: 20px 0 0 20px;
}

#pulseaudio {
  border-radius: 0 20px 20px 0;
  margin: 0 10px 0 0;
}

#tray,
#clock,
#custom-keyboard,
#custom-updates,
#custom-temperature,
#cpu,
#memory,
#custom-scratchpad-indicator {
  background-color: @default_bg;
  border-radius: 0;
}

#custom-updates {
  border-radius: 20px 0 0 20px;
}

#memory {
  border-radius: 0 20px 20px 0;
  margin: 0 10px 0 0;
}

#clock {
  border-radius: 20px 0 0 20px;
}

#custom-keyboard {
  border-radius: 0 20px 20px 0;
  margin: 0 10px 0 0;
}

#tray {
  border-radius: 20px 20px 20px 20px;
}

.modules-center {
  background-color: @default_bg;
  border-radius: 15px 15px 15px 15px;
  border: 2px solid @color5;
  margin: 10px 2px 0 0;
}

.modules-left {
  margin: 10px 0 0 5px;
  background-color: transparent;
}

/*-----modules indv----*/
#workspaces button {
  padding: 3px 5px;

  font-family: "JetBrains Mono Nerd Font";
  background-color: transparent;
  color: @color8;
}

#workspaces button:hover {
  box-shadow: inherit;
  background-color: transparent;
  color: @foreground
}

#workspaces button.active {
  background-color: transparent;
  color: @work-button-active;
}

#clock,
#battery,
#cpu,
#memory,
#custom-temperature,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#custom-power,
#custom-menu,
#custom-keyboard,
#custom-updates,
#bluetooth,
#idle_inhibitor {
  padding: 3px 13px;
}

#mode {
  color: @red;
  font-weight: bold;
}

#custom-power {
  background-color: @red;
  border-radius: 100px;
  padding: 1px 1px 1px 6px;
}

/*-----Indicators----*/
#idle_inhibitor.activated {
  color: @green-icon;
}

#pulseaudio.muted {
  color: @light-red-icon;
}

/*---- Battery ----*/
#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @yellow;
}

#battery.critical:not(.charging) {
  color: @red;
}

#temperature.critical {
  color: @red;
}

/*-----Updates-----*/
#custom-updates.zero {
  color: @blue-icon;
}

#custom-updates.low {
  color: @green-icon;
}

#custom-updates.medium {
  color: @soft-yellow-icon;
}

#custom-updates.high {
  color: @light-red-icon;
}

#custom-updates.critical {
  color: @red-icon;
  animation: blink 1s infinite;
}

@keyframes blink {
  50% {
    opacity: 0.5;
  }
}

/*----Temperature----*/
#custom-temperature.low {
  color: @cian-icon;
}

#custom-temperature.medium {
  color: @yellow-icon;
}

#custom-temperature.high {
  color: @red-icon;
}

/*---- Network ----*/
#network {
  color: @green-icon;
}

#network.disconnected {
  color: @light-red-icon;
}

/*---- Bluetooth ----*/
#bluetooth {
  color: @light-purple-icon;
}

#bluetooth.connected {
  color: @purple-icon;
}

/*---- CPU ----*/
#cpu {
  color: @pink-icon;
}

/*---- Memory ----*/
#memory {
  color: @soft-yellow-icon;
}

/*---- Audio ----*/
#pulseaudio {
  color: @yellow-icon;
}

/*---- Clock ----*/
#clock {
  color: @color5
}

/*---- Keyboard ----*/
#custom-keyboard {
  color: @soft-yellow-icon
}
