@define-color foreground #c8c3c4;
@define-color background #261013;
@define-color cursor #c8c3c4;

@define-color color0 #261013;
@define-color color1 #B0674C;
@define-color color2 #7B8B41;
@define-color color3 #BDAF54;
@define-color color4 #DF9A5C;
@define-color color5 #C5BC8F;
@define-color color6 #EFE097;
@define-color color7 #c8c3c4;
@define-color color8 #745f62;
@define-color color9 #B0674C;
@define-color color10 #7B8B41;
@define-color color11 #BDAF54;
@define-color color12 #DF9A5C;
@define-color color13 #C5BC8F;
@define-color color14 #EFE097;
@define-color color15 #c8c3c4;
